<%= form_with url: "/signin",method: "post", model: @user do |f| %>
    <%= f.label :email %><br>
    <%= f.text_field :email %><br>
    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
    <p>This field is only necessary for Teachers and Admins:</p><br>
    <%= f.label :school%>
    <%= f.collection_select :school, School.all, :id, :name%><br>
    <%= f.submit "Log In" %>
<%end%>